package web

type DataBase struct {
	Title string
	Meta  Meta
}

type Meta map[string]string

templ Base(data DataBase) {
<!DOCTYPE html>
<html lang="en">
@head(data)

<body>
	@nav()
	@header(data.Title)
	<main>
		{ children... }
	</main>
</body>

</html>
}


templ head(data DataBase) {

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{ data.Title }</title>

	for key, value := range data.Meta {
	<meta name={ key } content={ value } />
	}

	// <link href="/assets/css/reset.css" rel="stylesheet" />
	// <link href="/assets/css/output.css" rel="stylesheet" />
	// <script src="/assets/js/htmx.min.js"></script>
	@baseStyles()
</head>
}


templ nav() {
<nav id="nav-top">
	@navItem("/", "Home", false)
	@navItem("/blog", "Blog", true)
	@navItem("/about", "About", false)
</nav>
}

css active() {
	border-bottom: 2px solid #000;
}

templ navItem(href string, text string, isActive bool) {
<a href={ templ.SafeURL(href) } class={templ.KV("active", isActive), templ.KV(active(), isActive)}>{ text }</a>
}

templ header(title string) {
<header>
	<h1>{ title }</h1>
</header>
}