package web

type DataBase struct {
Title string
Meta Meta
}

type Meta map[string]string

templ Base(data DataBase) {
<!DOCTYPE html>
<html lang="en">
@head(data)

<body>
	@nav()
	@header()
	<main>
		{ children... }
	</main>
</body>

</html>
}


templ head(data DataBase) {

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{ data.Title }</title>

	for key, value := range data.Meta {
	<meta name={ key } content={ value } />
	}

	<link href="assets/css/style.css" rel="stylesheet" />
	// <link href="assets/css/output.css" rel="stylesheet" />
	// <script src="assets/js/htmx.min.js"></script>
</head>
}


templ nav() {
<nav>
	@navItem("/", "Home")
	@navItem("/blog", "Blog")
	@navItem("/about", "About")
</nav>
}

templ navItem(href string, text string) {
<a href={ templ.SafeURL(href) }>{ text }</a>
}

templ header() {
<header>
	<h1>Header</h1>
</header>
}