package web

templ HelloForm(base DataBase) {
@Base(base) {
<form hx-post="/hello" method="POST" hx-target="#hello-container">
	<input class="bg-slate-800 text-slate-50 p-2 border border-slate-700 rounded-lg" id="name" name="name"
		type="text" />
	<button type="submit" class="bg-orange-500 hover:bg-orange-700 text-white py-2 px-4 rounded">Submit</button>
</form>
<div id="hello-container"></div>
}
}

templ HelloPost(name string) {
<div class="bg-green-100 p-4 shadow-md rounded-lg mt-6">
	<p>Hello, { name }</p>
</div>
}