package pages

type Post struct {
    Title string
    Slug string
}

templ Landing(posts []Post) {
<div> 
    <h2>Available</h2>
    <ul>
        for _, post := range posts {
            <li><a href={templ.SafeURL(post.Slug)}>{post.Title}</a></li>
        }
    </ul>
</div>
}