package pages

templ Landing(posts *[]Post) {
<h1>Docs</h1>
<div> 
    <ul hx-boost="true">
        for _, post := range *posts {
            <li><a href={templ.SafeURL(post.Path)}>{post.Title}</a></li>
        }
    </ul>
</div>
}