package pages

templ MarkdownPost(post Post) {
    <h1>{post.Title}</h1>
    <div class="markdown-container content" id={"md_"+post.Slug}> 
        {! post }
    </div>	
}

templ Blog(posts *[]Post) {
<h1>Docs</h1>
<div> 
    <ul hx-boost="true">
        for _, post := range *posts {
            <li><a href={templ.SafeURL(post.Slug)}>{post.Title}</a></li>
        }
    </ul>
</div>
}