package pages

import "fmt"

import ai "github.com/johan-st/openAI"



templ OpenAI() {
    <div class="translation__form-container">
        <form class="translation__form"
                hx-post="/ai/translate"
                hx-target="#translation"
                hx-indicator="#spinner"
                >                      
            <h3>Text to translate:</h3> 
            <label for="text">prompt:</label>                                     
            <textarea id="text" name="text" rows="4" cols="50"></textarea>      
            <div class="translation__form-input-container">
                <label for="target_lang">Target Language:</label>    
                <select id="target_lang" name="target_lang">
                    <option value="Swedish" selected>Swedish</option>
                    <option value="English">English</option>
                    <option value="Danish">Danish</option>
                    <option value="Finnish">Finnish</option>
                    <option value="French">French</option>
                    <option value="Dutch">Dutch</option>
                    <option value="German">German</option>
                </select>     
                <input class="button" type="submit" value="Translate" 
                    hx-disabled-elt="this"/>   
            </div>                          
        </form>  
    </div>

    <div id="translation">
        @Translated(ai.Translation{})
    </div>

}


templ Translated(tran ai.Translation) {
    @spinner("spinner")
    <div class="translation__results">
        <h3>Translated Text:</h3>
        if len(tran.Choices) == 0{
        <p>nothing yet...</p>
        }
        for i , c := range tran.Choices {
            <h4>Choice {fmt.Sprintf("%d", i + 1)}</h4>
            <p>{c}</p>
        }
    </div>
}