package pages

type PageMeta map[string]interface{}

type Page struct {
	Title string
	Body  []byte
	// Path  string
	PageMeta
}

templ PageContent(p BlogPost) {
    <div class="content" id={"page_"+p.Path}> 
        {! p }
    </div>	
}