{{define "main"}}
{{$d:= .PageData}}

<h2>Welcome to the admin-page</h2>

{{if $d.Message}}
<p>{{$d.Message}}</p>
{{end}}

{{if $d.Error}}
<p>{{$d.Error}}</p>
{{end}}

{{if $d.User}}
<p>Logged in as {{$d.User}}</p>
{{end}}

{{end}}