package web

import (
	"jst.dev/src/repo"
)


templ Blog(featuredPosts []repo.BlogPost) {
<p>Welcome to the blog!</p>
<p>Here are some of our featured posts:</p>
@list(featuredPosts)

<a href={ templ.SafeURL("/new-post") }>new post</a>
}

templ list(posts []repo.BlogPost) {
<ul>
    for _, post := range posts {
    @listItem(post)
    }
</ul>
}

templ listItem(post repo.BlogPost) {
<li><a href={ templ.SafeURL("/blog/" + post.Slug) }>
<h4>{ post.Title }</h4>
<div> { post.Author.Name } <span>{ post.Date.Format("2006-01-02") }</span></div>
<p>{ post.Short }</p>
</a></li>
}

templ BlogPost(post repo.BlogPost) {
<p>{ post.Date.Format("2006-01-02") }</p>
<p>{ post.Author.Name }</p>
<div class="content">
    @ComponentMarkdown(post.Body)
</div>
<a href={ templ.SafeURL("/blog/" + post.Slug + "/edit") }>Edit</a>
}

templ BlogPostEdit(post repo.BlogPost) {
<form method="post" action={ templ.SafeURL("/api/blog-post/" + post.Slug) }>
    <input type="text" name="title" value={ post.Title } />
    <input type="text" name="slug" value={ post.Slug } />
    <textarea name="body">{ post.Body }</textarea>
    <button type="submit">Save</button>
</form>
}

templ BlogPostNew() {
<form method="post" action={ templ.SafeURL("/api/blog-post") }>
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="slug" placeholder="Slug" />
    <textarea name="body" placeholder="Body"></textarea>
    <button type="submit">Create</button>
</form>
}

