package web

type PageContext struct {
Title string
Meta Meta
TopNav []NavItem
Scripts []ScriptTag
}

type NavItem struct {
Text string
Href string
Active bool
}

type ScriptTag struct {
Src string
Async bool
Defer bool
}

type Meta map[string]string

templ Layout(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en">
@head(pageContext)

<body>
	@nav(pageContext.TopNav)
	@header(pageContext.Title)
	<main>
		@main
	</main>
	@footer()
</body>

</html>
}

templ LayoutMinimal(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en">
@head(pageContext)

<body>
	<main>
		@main
	</main>
</body>

</html>
}

templ head(data PageContext) {

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{ data.Title }</title>

	for key, value := range data.Meta {
	<meta name={ key } content={ value } />
	}
	// Tailwind PLAY, dev only
	// <script src="https://cdn.tailwindcss.com"></script>

	<link href="/assets/css/reset.css" rel="stylesheet" />
	// <link href="/assets/css/output.css" rel="stylesheet" />
	// <script src="/assets/js/htmx.min.js"></script>
	// <script src="/assets/js/pixi.js"></script>
	for _, script := range data.Scripts {
	@scriptTag(script)
	}
	@stylesBase()
</head>
}



templ nav(navItems []NavItem) {
<nav id="nav-top">
	<div class="nav-top__wrapper">
		for _, item := range navItems {
		@navItem(item.Href, item.Text, item.Active)
		}
	</div>
</nav>
}

templ navItem(href string, text string, isActive bool) {
<a href={ templ.SafeURL(href) } class={ "nav-top__item" , templ.KV("active", isActive) } hx-boost="true">{ text }</a>
}

templ scriptTag(script ScriptTag) {
if script.Async && script.Defer {
<script src={ script.Src } async defer></script>
} else if script.Async {
<script src={ script.Src } async></script>
} else if script.Defer {
<script src={ script.Src } defer></script>
} else {
<script src={ script.Src }></script>
}
}


templ header(title string) {
<header id="header-top">
	<h1>{ title }</h1>
</header>
}

templ footer() {
<footer id="footer-bottom">
	<a href="mailto:jst@jst.dev">jst@jst.dev</a>
</footer>
}