package web

type PageContext struct {
	Title string
	Meta Meta
	// TopNav []NavItem
}

type Meta map[string]string

templ Layout(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en">
@head(pageContext)

<body>
	@nav()
	@header(pageContext.Title)
	<main>
		@main
	</main>
</body>

</html>
}

templ LayoutMinimal(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en">
@head(pageContext)

<body>
	<main>
		@main
	</main>
</body>

</html>
}

templ head(data PageContext) {

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{ data.Title }</title>

	for key, value := range data.Meta {
	<meta name={ key } content={ value } />
	}

	// <link href="/assets/css/reset.css" rel="stylesheet" />
	// <link href="/assets/css/output.css" rel="stylesheet" />
	// <script src="/assets/js/htmx.min.js"></script>
	@baseStyles()
</head>
}


templ nav() {
<nav id="nav-top">
	@navItem("/", "home", false)
	@navItem("/url", "url", false)
</nav>
}

css active() {
border-bottom: 2px solid #000;
}

templ navItem(href string, text string, isActive bool) {
<a href={ templ.SafeURL(href) } class={templ.KV("active", isActive), templ.KV(active(), isActive)} hx-boost="true">{ text }</a>
}

templ header(title string) {
<header>
	<h1>{ title }</h1>
</header>
}