package web

type PageContext struct {
	Title string
	Meta Meta
	TopNav []NavItem
}

type NavItem struct {
	Text string
	Href string
	Active bool
}

type Meta map[string]string

templ Layout(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en" class="w-full h-full text-slate-100 bg-slate-900">
@head(pageContext)

<body class="w-full h-full">
	@nav(pageContext.TopNav)
	@header(pageContext.Title)
	<main class="w-full h- flex flex-col items-center justify-center ">
		@main
	</main>
</body>

</html>
}

templ LayoutMinimal(pageContext PageContext, main templ.Component) {
<!DOCTYPE html>
<html lang="en">
@head(pageContext)

<body>
	<main>
		@main
	</main>
</body>

</html>
}

templ head(data PageContext) {

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{ data.Title }</title>

	for key, value := range data.Meta {
	<meta name={ key } content={ value } />
	}

	<link href="/assets/css/reset.css" rel="stylesheet" />
	<link href="/assets/css/output.css" rel="stylesheet" />
	// <script src="/assets/js/htmx.min.js"></script>
	<script src="/assets/js/pixi.js"></script>
	@baseStyles()
</head>
}


templ nav(navItems []NavItem) {
<nav id="nav-top" class="flex px-4 py-2 gap-4 bg-slate-800">
	for _, item := range navItems {
		@navItem(item.Href, item.Text, item.Active)
	}
</nav>
}

templ navItem(href string, text string, isActive bool) {
<a href={ templ.SafeURL(href) } class={templ.KV("active border-b-2 border-slate-50 text-slate-50", isActive)} hx-boost="true">{ text }</a>
}

templ header(title string) {
<header class="px-4 py-2 w-full border-t-2 border-slate-700">
	<h1 class="text-4xl font-bold">{ title }</h1>
</header>
}