package web

var notFoundReporter = templ.NewOnceHandle()

templ NotFound() {
<p>The page you are looking for does not exist.</p>


@notFoundReporter.Once() {
<script type="text/javascript">
    console.log('404 Not Found for: ' + window.location.pathname);
    fetch('/api/v1/not-found', {
        method: 'POST',
        body: JSON.stringify({ path: window.location.pathname }),
    });
</script>
}
}

templ NotFoundWithDebug(info DebugInfo) {
@NotFound()
@DebugCard(info)
}