package web

import (
"jst.dev/src/repo"
)

templ NewShortUrl(shortUrls []repo.UrlShort) {
<form action="/api/short-url" method="post">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit">Create Short URL</button>
</form>
<hr>
<h2>Short URLs</h2>
<p>click for info</p>
<ul>
    for _, shortUrl := range shortUrls {
    <li>
        <a href={ templ.SafeURL("i/" + shortUrl.ShortCode) }>/{ shortUrl.ShortCode } > { shortUrl.Url }</a>
    </li>
    }
</ul>
}

templ ShortUrlInfo(shortUrl repo.UrlShort, createdAt string) {
<h1>Short URL Info</h1>
<p>Created at: { createdAt }</p>
<p>Short URL: <a href={ templ.SafeURL("https://url.jst.dev/" + shortUrl.ShortCode) }>url.jst.dev/{ shortUrl.ShortCode }</a></p>
<p>Original URL: <a href={ templ.SafeURL(shortUrl.Url) }>{ shortUrl.Url }</a></p>
}